
<div class="btn-menu">
<button mat-mini-fab color="accent" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button routerLink='/home' mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home <Map></Map></span>
    </button>
    <button routerLink='/ships-map' mat-menu-item>
        <mat-icon>directions_boat</mat-icon>
        <span>Ships <Map></Map></span>
    </button>
</mat-menu>
</div>

<div class="map-container">
    <agm-map 
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="true"
    >

    <agm-marker 
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable]="m.draggable"
        [iconUrl]="icon"
        (dragEnd)="markerDragEnd(m, $event)">
        
        <agm-info-window>
        <strong>{{m.description}}</strong>
        </agm-info-window>
        
        <!--(markerClick)="clickedMarker(m.label, i)"
                [label]="m.label"-->
    </agm-marker>

    </agm-map>
</div>


