body {
    margin: 0;
}
.btn-menu {
    position: absolute;
    z-index: 5;
    margin: 2%;
}
agm-map {
    height: 100%;
    width: 100%;
  }

.map-container {
    text-align: center;
    height: 100%;
    width: 100%;
}

a {
color: darkblue;
}
