<h1 mat-dialog-title>Agregar nuevo usuario</h1>
<div mat-dialog-content>
  <p>Complete su información</p>
  <mat-form-field style="margin-left: 8px;" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.Name" required>
  </mat-form-field>
  <mat-form-field style="margin-left: 8px;" appearance="fill">
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="data.LastName" required>
  </mat-form-field>
  <mat-form-field style="margin-left: 8px;" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.Username" required>
  </mat-form-field>
  <mat-form-field style="margin-left: 8px;" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.Email" required>
  </mat-form-field>
  <mat-form-field style="margin-left: 8px;" appearance="fill">
    <mat-label>Teléfono</mat-label>
    <input matInput [(ngModel)]="data.PhoneNumber">
  </mat-form-field>
  <mat-form-field style="margin-left: 8px;" appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput [(ngModel)]="data.Password" required>
  </mat-form-field>
  <mat-form-field style="margin-left: 8px;" appearance="fill">
    <mat-label>Confirmar Contraseña</mat-label>
    <input type="password" matInput [(ngModel)]="data.ConfirmPassword" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</div>