<h1 mat-dialog-title>Tipo de cambio: {{data.userName}}</h1>
<div mat-dialog-content>
  <p>Edite el tipo de cambio</p>
  <mat-form-field appearance="fill">
    <mat-label>Nuevo tipo de cambio</mat-label>
    <input matInput [(ngModel)]="newRate">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="newRate" cdkFocusInitial>Editar</button>
</div>