<div id="container">
	<mat-card id="matCard">
	   <mat-card-header>
	     <mat-card-title>Login</mat-card-title>
	   </mat-card-header>
	   <mat-card-content>
	     <form class="example-form">
	       <table class="example-full-width" cellspacing="0">
	         <tr>
	           <td>
	             <mat-form-field class="example-full-width">
	             <input matInput placeholder="Username" [(ngModel)]="model.Username" autocomplete="off" name="username" required>
	             </mat-form-field>
	           </td>
	         </tr>
	         <tr>
	         <td><mat-form-field class="example-full-width">
	           <input matInput placeholder="Password" (keyup.enter)="login()" [(ngModel)]="model.Password"type="password" name="password" required>
	         </mat-form-field></td>
	       </tr></table>
	     </form>
	   </mat-card-content>
	   <mat-card-actions>
       <button class="buttonColor" (click)="login()" *ngIf="!activate" mat-raised-button>Login</button>
       <mat-spinner diameter="40" *ngIf="activate"></mat-spinner>
	   </mat-card-actions>
	   <mat-card-actions>
   		 <span>Aren't you with us yet? <a href="/register">Subscribe</a></span>
	   </mat-card-actions>
	 </mat-card>
</div>
