#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    filter: alpha(opacity=90);
    opacity: 0.9;
    /*flex-direction:column;*/
    /*flex: 1 1 100%*/
    background-color: #344e63;
    background: url("../../assets/background.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: rgba(0, 0, 0, 0.56);
  }
  #matCard {
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 60px;
    flex: 0 0 auto;
    vertical-align: central;
    opacity: 0.9;
    /*flex-direction: row;*/
    /*width: 40%;*/
  }
  #matCard > mat-form-field {
    width:270px;
  }
    #matCard > h1 {
      font-size: 1.2em;
    }
  mat-progress-spinner {
    width: 36px;
    position: absolute;
    bottom: 0px;
    right: 182px;
  }
  .buttonColor{
      background: #b53f5b;
      color: #fff;
      opacity: 1;
  }
  
  a {
    color: gold;
  }
