
<!----<mat-sidenav opened="true" mode="side">
  <mat-nav-list *ngFor="let permission of menuList">
    <mat-expansion-panel class="menu-panel">
      <mat-expansion-panel-header>
        <mat-list-item class="menu-panel-title">
          <button mat-icon-button>
            <mat-icon color="primary">{{permission.parent.iconName}}</mat-icon>
          </button>
          <span class="mat-icon mat-primary">{{permission.parent.name}}</span>
        </mat-list-item>
      </mat-expansion-panel-header>
      <mat-list-item *ngFor="let child of permission.childs" class="menu-panel-options" routerLink="{{child.url}}">
        <button mat-icon-button>
          <mat-icon color="primary">{{child.iconName}}</mat-icon>
        </button>
        <span class="mat-icon mat-primary">{{child.name}}</span>
      </mat-list-item>
    </mat-expansion-panel>
  </mat-nav-list>
</mat-sidenav>-->

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="{{opened}}">
      <div>
        <mat-nav-list routerLink='/home'>
          <mat-expansion-panel class="menu-panel" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-list-item class="menu-panel-title">
                <button mat-icon-button>
                  <mat-icon class="white-icon">home</mat-icon>
                </button>
                <span class="mat-icon mat-primary">Tipo de Cambio</span>
              </mat-list-item>
            </mat-expansion-panel-header>
            <div></div>
          </mat-expansion-panel>
        </mat-nav-list>
        <mat-nav-list>
          <mat-expansion-panel class="menu-panel" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-list-item class="menu-panel-title">
                <button mat-icon-button>
                  <mat-icon class="white-icon">calculate</mat-icon>
                </button>
                <span class="mat-icon mat-primary">Operación</span>
              </mat-list-item>
            </mat-expansion-panel-header>
            <div></div>
          </mat-expansion-panel>
        </mat-nav-list>
        <mat-nav-list routerLink='/users'>
          <mat-expansion-panel class="menu-panel" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-list-item class="menu-panel-title">
                <button mat-icon-button>
                  <mat-icon class="white-icon">manage_accounts</mat-icon>
                </button>
                <span class="mat-icon mat-primary">Usuarios</span>
              </mat-list-item>
            </mat-expansion-panel-header>
            <div></div>
          </mat-expansion-panel>
        </mat-nav-list>
        <mat-nav-list routerLink="/ships-map">
          <mat-expansion-panel class="menu-panel" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-list-item class="menu-panel-title">
                <button mat-icon-button>
                  <mat-icon class="white-icon">map</mat-icon>
                </button>
                <span class="mat-icon mat-primary">Map</span>
              </mat-list-item>
            </mat-expansion-panel-header>
            <div></div>
          </mat-expansion-panel>
        </mat-nav-list>
      </div>   
    </mat-sidenav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
  