
.content {
    height: 100%;
    background-color: rgba(1,1,1,0.1);
    overflow-y: auto;
  }
  mat-sidenav-container {
    margin: 0;
    height: 100%;
    /*background-color: rgba(1,1,1,0.03);*/
  }
  mat-sidenav {
    background-color: #FFFFFF;
    width: 250px;
    /*background-color: rgba(1,1,1,0.03);*/
  }

  mat-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;
    position: relative;
  }
  /*     css for menu */
  mat-list-item span {
    margin-top: 11px;
    margin-left: 14px;
    width: 100%;
    font-size: 16px;
    font-family: Roboto,Helvetica Neue,sans-serif;
  }
  
  .btn-menu {
    min-width: 10px;
    margin-right: 10px;
  }
  
  /**********menu options *****/
  .menu-panel {
    margin: 0px;
    padding: 0px;
    box-shadow: none !important;
  }
  
  .menu-panel-title {
    width: 100% !important;
  }
  
  .menu-panel > mat-expansion-panel-header {
    margin: 0px;
    padding: 0px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  
  .menu-panel > mat-expansion-panel-header ::ng-deep .mat-expansion-indicator {
    margin-right: 20px;
    position: absolute;
    right: 0;
  }
  
  .menu-panel ::ng-deep .mat-expansion-panel-body {
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .menu-panel-options ::ng-deep .mat-list-item-content {
    padding-left: 30px !important;
  }

  .white-icon {
    color: #616161;
  }

  span {
    color: #616161 !important;
  }
    