  <mat-toolbar color="primary" *ngIf="visible == true">
    <button mat-icon-button (click)="menu.openMenu()" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button class="btn-logo" mat-button disabled>
      <img src="../assets/logo.png" 
          style="width:38%">
    </button>
    <span class="example-spacer"></span>
    <span class="usernameSpan">{{username}}</span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>directions_boat</mat-icon>
    </button>
    <div class="btn-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu2="matMenu">
          <button routerLink='/logout' mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Cerrar Sesión <Map></Map></span>
          </button>
      </mat-menu>
      </div>
  </mat-toolbar>

  <div class="container">
    <app-menu #menu (showBtnMediaSmall)="showBtnMediaSmallFn($event)"></app-menu>
  </div>