.full-width {
    width: 100%;
}

.my-card {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.title-card {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: #616161; 
}

.table-card {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.container {
    height: 124vh;
    justify-content: center;
    margin-top: 40px;
}

.button {
    text-align: end;
}

.filterWidth {
    width: 100%;
}

.mat-table {
    width: 100%;
}
