<div class="container">
    <div class="title-card">
        <mat-label class="title-card">Fecha de tipo de cambio</mat-label>
    </div>
    <br>
    <mat-card class="my-card">
        <mat-card-content>
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha de tipo de cambio</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            <div class="button">
                <button mat-raised-button (click)="getExchangeRate()" color="primary"><span *ngIf="!spinner">Consultar</span>
                    <mat-icon *ngIf="spinner"><mat-spinner color="accent" diameter="20">
                    </mat-spinner></mat-icon>
                </button>
                
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="table-card">
        <mat-form-field class="filterWidth" appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>
          
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.date | date :'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
                <td mat-cell *matCellDef="let row"> {{row.rate}} </td>
              </ng-container>
          
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let row"> {{row.username}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions  
                    <mat-icon *ngIf="spinnerActions"><mat-spinner color="accent" diameter="20">
                    </mat-spinner></mat-icon>
                </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="openEditDialog(row)" aria-label="Editar Tipo de Cambio">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteExchangeRate(row)" aria-label="Eliminar Tipo de Cambio">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
    </mat-card>
    <br>
</div>
